@import url('/public/css/font.css');


* {
  margin: 0;
  transition: all 0.3s ease-in-out;
  font-family: 'Circular std', sans-serif;
}

html {
  font-size: 75%;
}

@media screen and (min-width: 576px) {
  html {
    font-size: 81.25%;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 87.5%;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 93.75%;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 8px;
}

body {
  background-color: #000;
}

#main {
  display: flex;
  flex-direction: column;
  background-color: rgba(18, 18, 18, 255);
}

#content {
  padding: 1rem;
  flex: 1;
}

@media screen and (min-width: 768px) {
  #content {
    padding: 1rem 2rem;
    flex: 1;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.page {
  min-height: 100vh;
}

#main {
  flex-grow: 1;
}

.img-container > img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  background-color: #000;
  min-width: 241px;
  /* display: none; */
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .sidebar {
    display: block !important;
    height: 100% !important;
    position: static;
  }
}

.sidebar-header-logo {
  height: 40px;
  width: 40px;
}

.sidebar-header-title {
  color: #fff;
  font-size: 1.25rem;
}

.sidebar-elmt-active {
  border-left: 8px solid #66d36e;
}

.sidebar-elmt-icon {
  width: 20px;
  height: 20px;
}

.sidebar-elmt-text {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

.sidebar-elmt:hover {
  transform: scale(1.1);
}

.navbar {
  background-color: transparent;
  color: #fff;
}

.search-bar {
  width: 364px;
  max-width: 80vw;
}

.search-bar input {
  width: 100%;
  padding: 6px 48px;
  border: 0;
  border-radius: 500px;
  color: #000;
  height: 40px;
  padding: 6px 48px;
  text-overflow: ellipsis;
}

.search-bar-icon {
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}

.select-input-navbar select{
  width: 118px;
  height: 28px;
  vertical-align: middle;
  text-indent: 5px;
  margin-top: 5px;
  margin-right: 5px;
  font-family: 'Circular Std';
  color: white;
  background-color: #282828;
  border: transparent;
  border-radius: 50px;
}

.input-submit-navbar button {
  width: 50px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 50px;
  font-family: 'Circular Std';
  background-color: white;
  color: black;
  border: 1px solid black;
}

.input-submit-navbar button:hover{
  background-color: black;
  color: white;
  border: 1px solid white;
  transition: 0.3s;
}

.user-profile {
  gap: 8px;
  height: 36px;
  padding: 6px;
  width: 180px;
  max-width: 40vw;
  background-color: rgba(255, 255, 255, 0.25);
  border: 0;
  border-radius: 12px;
}

.user-profile:hover {
  cursor: pointer;
}

.dropdown-profile-content-navbar {
  display: none;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: #282828;
  border-radius: 4px;
  -webkit-box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
  box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
  padding: 8px;
}

.user-profile:hover .dropdown-profile-content-navbar {
  display: block;
}

.user-profile:hover .dropdown-profile-navbar > img {
  transform: rotate(180deg);
}

.user-profile .img-container {
  width: 20px;
  height: 20px;
}

.user-profile .user-data {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-card {
  background-color: rgba(40, 40, 40, 255);
  color: #fff;
  border-radius: 8px;
  padding: 16px;
  gap: 16px;
  width: 140px;
  font-size: 0.8rem;
  position: relative;
  top: 0px;
}

@media screen and (min-width: 768px) {
  .song-card {
    width: 200px;
  }
}

.song-card:hover {
  background-color: rgba(60, 60, 60, 255);
  top: -4px;
  color: #fff;
}

.song-card .song-card-cover {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .song-card .song-card-cover {
    width: 160px;
    height: 160px;
  }
}

.song-card-duration {
  bottom: 6px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px 6px;
  border-radius: 6px;
}

.song-card-genre {
  bottom: 6px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px 6px;
  border-radius: 6px;
}

.song-card-info-bottom {
  color: #b3b3b3;
}

.song-card-icon-play {
  display: none;
  top: 50%;
  right: 12px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

@media screen and (min-width:768px){
  .song-card-icon-play {
    right: 20px;
    width: 50px;
    height: 50px;
  }
}

.song-card:hover .song-card-icon-play {
  display: block;
  transition: all 0.3s ease-in-out;
}

.song-card-icon-play:hover {
  box-shadow: 0 0 50px #ccc;
}

.album-card {
  background-color: rgba(40, 40, 40, 255);
  color: #fff;
  border-radius: 8px;
  padding: 1rem;
  width: 140px;
  gap: 16px;
  font-size: 0.8rem;
  position: relative;
  top: 0px;
}

@media screen and (min-width: 768px) {
  .album-card {
    width: 200px;
  }
}

.album-card:hover {
  top: -4px;
  background-color: rgba(60, 60, 60, 255);
  transition: all 0.3s ease-in-out;
  color: #fff;
}

.album-card .album-card-cover {
  border-radius: 8px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .album-card .album-card-cover {
    width: 160px;
    height: 160px;
  }  
}

.album-card-duration {
  bottom: 6px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px 6px;
  border-radius: 6px;
}

.album-card-genre {
  bottom: 6px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px 6px;
  border-radius: 6px;
}

.album-card-info-bottom {
  color: #b3b3b3;
}

.album-card-icon-play {
  display: none;
  top: 50%;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.album-card:hover .album-card-icon-play {
  display: block;
  transition: all 0.3s ease-in-out;
}

.album-card-icon-play:hover {
  box-shadow: 0 0 50px #ccc;
}

.btn-prev,
.btn-next {
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0.6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-prev[disabled],
.btn-next[disabled] {
  opacity: 0.2;
}

.btn-prev img,
.btn-next img {
  width: 100%;
  height: 100%;
}

.hamburger-bars-container {
  width: 24px;
  height: 24px;
}

.main-navbar {
  gap: 8px;
}

.wrapper-sidebar-control {
  position: fixed;
  top: 20px;
  left: 20px;
}

.open-sidebar-btn,
.close-sidebar-btn {
  cursor: pointer;
}

.wrapper-user-profile {
  position: fixed;
  z-index: 2;
  right: 20px;
  top:20px;
  color: #fff;
}
